
*{
    font-family:cursive;
}
.box{
    width: 400px;
    height: 520px;
    background-color:plum;
    border-radius: 15px;
    border-color: black;
    border-style:double;
    box-shadow:5px 5px 2px grey;
}
.screen{
    margin-top: 40px;
    width: 350px;
    height:60px;
    border-radius: 5px;
    background-color:white;
    color:darkblue;
    font-size: 40px;
    border-style:ridge;
    border-width: 5px;
}
table{
    text-align: center;
    margin:5px;

}
button{
    width: 55px;
    height:55px;
    background-color:transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 2px purple;
    font-size: larger;
}
h1{
    margin-top: 10px;
    color:darkblue;
    font-size: 50px;
}
p{
    margin-top: 10px;
    color:darkblue;
}